[submodule "api/account"]
	path = api/account
	url = https://github.com/microservice-henry/pma.261.account.git
[submodule "api/account-service"]
	path = api/account-service
	url = https://github.com/microservice-henry/pma.26.1.account-service.git
[submodule "api/auth"]
	path = api/auth
	url = https://github.com/microservice-henry/pma.261.auth.git
[submodule "api/auth-service"]
	path = api/auth-service
	url = https://github.com/microservice-henry/pma.261.auth-service.git
[submodule "api/gateway-service"]
	path = api/gateway-service
	url = https://github.com/microservice-henry/pma.261.gateway-service.git
[submodule "api/order"]
	path = api/order
	url = https://github.com/microservice-henry/pma.261.order.git
[submodule "api/order-service"]
	path = api/order-service
	url = https://github.com/microservice-henry/pma.261.order-service.git
[submodule "api/product-service"]
	path = api/product-service
	url = https://github.com/microservice-henry/pma.261.product
[submodule "api/exchange-service"]
	path = api/exchange-service
	url = https://github.com/microservice-henry/pma.26.1.exchange
